body {
    height: 100%;
    margin: 0;
    width: 100%;
    background-color: grey;
}

title{
    text-align: center;
}
.center{
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:100;
}

h1{
    text-align: center;
    font-size: 32px;
    font-family: Palatino, 'Palatino Linotype', serif;
    color: rgb(243, 243, 243);
}
h2{
    text-align: center;
    font-size: 32px;
    font-family: Palatino, 'Palatino Linotype', serif;
}

a.button{
    background-color: white;
    top:17.5%;
    left:37%;
    position: absolute;
    padding: 20px 64px ;
    font-size: 16px ;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.button{border-radius: 16px ;}

img{
    position: absolute;
    top: 40%;
    left:5%;
    border-radius: 8px;
    padding: 5px;
    }
p{
    position: absolute;
    top:15%;
    left:5%;
    font-size: 32px;
    color: rgb(0, 0, 0)
}   
