body {
    height: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
}

h1{
    font-size: 32px;
    font-family: Palatino, 'Palatino Linotype', serif;
    color: antiquewhite;
}

p{
    
}
